/* @import "https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400"; */

@import "https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500";

html,
body {
  min-height: 100%;
}

body {
  font-family: "Fira Sans", monospace;
  font-weight: 200; /* Light */
  height: 100%;
  background: #1a2328;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}

/* #video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background: no-repeat;
  background-size: cover;
} */

/* Rotate video on mobile devices */
@media (max-width: 768px) {
  #bg-video {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  #main {
    margin: 2em;
  }
}

#main {
  position: relative;
  z-index: 1;
}

a,
a:active,
a:visited {
  color: rgba(255, 255, 255, 1);
}

a:active,
a:hover {
  color: white;
}

#cv-link span.arrow {
  transition: transform 0.1s ease-in-out;
}

#cv-link:hover span.arrow {
  transform: translateX(3px);
}

/* span.fa-arrow-pointer:hover {  
  animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */

/**
 * ----------------------------------------
 * animation slide-rotate-hor-top
 * ----------------------------------------
 */
@keyframes slide-rotate-hor-top {
  0% {
    transform: translateY(0) rotateX(0deg);
  }
  100% {
    transform: translateY(-150px) rotateZ(90deg);
    /* transform: translateY(-150px) rotateX(-90deg); */
  }
}

#social-links {
  margin-top: 2em;
  text-align: right;
}
#social-links a {
  text-decoration: none;
  font-size: 16px;
  margin-left: 0.5em;
  text-align: right;
  color: #9297a8;
  /* border: 1px solid grey; */
  padding: 6px;
  border-radius: 4px;

  transition: color 0.15s ease, transform 0.15s ease;
}

#social-links a:hover {
  color: white;
  transform: scale(1.2);
  /* outline: 1px solid rgba(255, 255, 255, 0.2); */
  background-color: rgba(255, 255, 255, 0.07);
}
#bottom {
  margin-top: 2em;
}

strong,
span {
  color: white;
}
strong {
  font-weight: 400;
}
a {
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5) !important;

  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.1px !important;
  text-underline-offset: 4px;

  transition: all 0.2s ease;
}
a:hover {
  text-decoration-color: rgba(255, 255, 255, 1) !important;
  text-underline-offset: 5px;
}

.poof {
  display: inline-block;
  transition: opacity 0.5s ease-out, filter 0.5s ease-out;
}
.poof:hover {
  opacity: 0;
  filter: blur(10px);
}
