/* @import 'https://fonts.googleapis.com/css?family=Roboto+Mono'; */

@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400';



html, body { min-height:100%; }

body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300; /* Light */
  height: 100%;
  background: url('../images/dots_bg') center center fixed #1c1c1c;
	background-size: cover;
	
	
	
	
	
	
	 /* fallback for old browsers 
  /*background-color: -webkit-linear-gradient(-65deg, #16222D, #1C2B39);*/
  /*background-color: linear-gradient(-65deg, #16222D, #1C2B39);*/


  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  color: rgba(255,255,255,0.8 );
  
  
    
    
    /*background-image: url('../images/home.jpg');*/
}



/* 

body.home {
} */

body.work {
  background-image: url('../images/work.jpg');
  background-position: bottom center;
}
/* 
body.research {
}

body.prototype {
} */

body.speak {
  background-image: url('../images/talk.jpg');
  background-position: bottom left;
}



a, a:active, a:visited {
  color: rgba(255,255,255,1);
}

a:active, a:hover {
  color: white;
}



/* controls */
nav#menu {
  text-transform: uppercase;
}

nav#menu a {
  text-decoration: none;
  user-select: none;
  font-weight: 400; /* Normal weight */
}



/* PAGES */

section#main {
  text-transform: uppercase;
}






/* Diff Pages */

/*#home {
  background-color: #1C2B39;
}

#research {
  background-color: #093F1A;
}

#prototype {
  background-color: #2C0404;
}

#speak {
  background-color: #2C0421;
}

#work {
  background-color: #182C04;
}*/



/* social links */
#social-links {
}

#social-links a {
  text-decoration: none;
  font-size: 16px;
  margin-left: 1em;
}

span.ender {
  display: inline-block;
  margin-top: 2em;
  clear: left;
}

span.ender:after {
  font-family: "FontAwesome";
  content: '\f0e7';
  opacity: 0.2;
  font-size: 16px;

}
