@import "https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400";

@import "https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500";

html,
body {
  min-height: 100%;
}

body {
  font-family: "Fira Sans", monospace;
  font-weight: 300; /* Light */
  height: 100%;
  background: #131719;
  /* background: url("../images/dots_bg2.png") center center fixed #1c1c1c; */
  background-size: cover;

  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 1.5em;
  color: rgba(255, 255, 255, 1);
  /* text-transform: uppercase; */
}

a,
a:active,
a:visited {
  color: rgba(255, 255, 255, 1);
}

a:active,
a:hover {
  color: white;
}

#cv-link span.arrow {
  transition: transform 0.15s ease-in-out;
}

#cv-link:hover span.arrow {
  transform: translateX(3px);
}

/* span.fa-arrow-pointer:hover {  
  animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */

/**
 * ----------------------------------------
 * animation slide-rotate-hor-top
 * ----------------------------------------
 */
@keyframes slide-rotate-hor-top {
  0% {
    transform: translateY(0) rotateX(0deg);
  }
  100% {
    transform: translateY(-150px) rotateZ(90deg);
    /* transform: translateY(-150px) rotateX(-90deg); */
  }
}

#social-links {
  margin-top: 2em;
  text-align: right;
}
#social-links a {
  text-decoration: none;
  font-size: 16px;
  margin-left: 1em;
  text-align: right;
}

#bottom {
  margin-top: 2em;
}
